################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Tópicos/Tópicos.calentamiento/bin/Debug/netcoreapp3.1
/Tópicos/Tópicos.calentamiento/obj
/Tópicos/Topicos.Utilitarios/bin/Debug/netcoreapp3.1
/Tópicos/Topicos.Utilitarios/obj
/Tópicos/.vs/Tópicos/v16
/Tópicos/.vs/Tópicos/DesignTimeBuild
/Tópicos/Topicos.NorthWind.BaseDatos/obj/Debug/netcoreapp3.1/Topicos.NorthWind.BaseDatos.csproj.CoreCompileInputs.cache
/Tópicos/Topicos.NorthWind.BL/obj
/Tópicos/Topicos.NorthWind.BL/bin/Debug/netcoreapp3.1
